.page-layout {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

/* 사이드바 */
.sidebar-container {
  width: 270px;
  flex-shrink: 0;
}

/* 메인 컨텐츠 */
.content-container {
  flex: 1;
  width: calc(100% - 270px);
  padding: 16px;
  box-sizing: border-box;
}
